<header class="pet-nav">
    <div class="logo" routerLink="/">HiguReya</div>
    <ul>
    <li>
        <a routerLink="/cart">Cart</a>
    </li> 
    <!-- class="text-button push" routerLink="/cart">
        <span>Cart </span>
        <span class="counter">{{ counter() }}</span> -->
    <!-- </button> -->
     <li><a (click)="onLogin()">Plugin</a></li>
    <!-- <button class="text-button" (click)="onLogin()">Login</button> -->
</ul>

    @if (isLoggingIn) {
    <app-login (cancel)="onCancelLogin()" (login)="onCancelLogin()"></app-login>
    }
</header>