<header class="pet-nav">
  <div class="logo" routerLink="/">HiguReya</div>
  <ul>
    <li>
      <a routerLink="/cart">
        Cart
        @if (cartService.cartItems().length > 0) {
        <span class="cart-counter">
          {{ cartService.cartItems().length }}
        </span>
        }
      </a>
    </li>
    <li>
      <a href="#" (click)="onLogin()">Login</a>
    </li>
  </ul>

  @if (isLoggingIn) {
  <app-login (cancel)="onCancelLogin()" (login)="onCancelLogin()"></app-login>
  }
</header>