<h1>Category Name</h1>
<div class="flex-parent-element">
    <app-item class="flex-child-element"></app-item>
    <app-item class="flex-child-element"></app-item>
    <app-item class="flex-child-element"></app-item>
    <app-item class="flex-child-element"></app-item>
    <app-item class="flex-child-element"></app-item>
    <app-item class="flex-child-element"></app-item>
    <app-item class="flex-child-element"></app-item>
    <app-item class="flex-child-element"></app-item>
    <app-item class="flex-child-element"></app-item>
    <app-item class="flex-child-element"></app-item>
    <app-item class="flex-child-element"></app-item>
    <app-item class="flex-child-element"></app-item>
</div>