@use '../../styles.scss' as *;

.shop-items {
  padding: 1rem;
  color: $color-primary;

  .item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  
}
