.flex-parent-element{
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid violet;
    padding-top: 25px;
}

.flex-child-element{
    flex: 0 22%;
    margin: 2px;
    border: 2px solid violet;
    box-sizing: border-box;
}